# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Database settings
DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Secret key for django app settings
SECRET_KEY='your_secret_key'

# DEBUG SETTINGS
DEBUG=your_settings

# EMAIL SETTINGS
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
DEFAULT_FROM_EMAIL=
MY_EMAIL_HOST_PASSWORD=

#CACHES SETTINGS
CACHE_ENABLED='True or False'
LOCATION='your_redis_location'
