{% extends 'base.html' %}

{% block page_header %}
<div class="page-header py-4">
    <div class="container">
        <h1 class="text-center">Рассылка отправлена!</h1>
        <p class="text-center text-muted">Номер рассылки: {{ mailing.mailing_id }}</p>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="section" id="features">
    <div class="row g-4 justify-content-center">
        <div class="col-md-4">

            <div class="alert alert-info">
                <h4 class="mb-3">
                    {% if mailing.mailing.message %}
                    Попытка рассылки "{{ mailing.mailing.message.subject }}"
                    {% else %}
                    Попытка рассылки #{{ mailing.id }}
                    {% endif %}
                    - {{ mailing.get_status_display }}
                </h4>

                <p>Время попытки: {{ mailing.start_time }}</p>
                <p>Статус: {{ mailing.get_status_display }}</p>
                <p>Ответ сервера: {{ mailing.post_response }}</p>

                <h5>Информация о рассылке:</h5>
                <p>Сообщение: {{ mailing.mailing.message.subject }}</p>
                <p>Получателей: {{ mailing.mailing.recipients.count }}</p>
                <p>Время начала рассылки: {{ mailing.mailing.start_time }}</p>
                <p>Время окончания рассылки: {{ mailing.mailing.end_time }}</p>

                <a href="{% url 'mail_flow:mailings_list' %}" class="btn btn-primary">
                    К списку рассылок
                </a>

            </div>
        </div>


    </div>
</section>
{% endblock %}